<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}

    <div class="container">
        {{ content }}
    </div>

    {% include footer.html %}
    {% include backToTop.html %}

    <!-- 添加音乐播放器容器 -->
    <div id="xf-MusicPlayer" 
         data-cdnName="https://player.xfyun.club/js" 
         data-themeColor="xf-girlPink" 
         data-random="true"
         data-bottomHeight="100px"
         data-memory="1"
         data-songChart="热歌榜"
         data-lyrics="1"
         data-randomSongList="1"
		 data-localMusic="/data/playlistData.json">
    </div>

    <!-- 引入音乐播放器的JS文件 -->
    <script src="https://player.xfyun.club/js/xf-MusicPlayer/js/xf-MusicPlayer.min.js"></script>

    <script src="{{ "/js/main.js" | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ "/js/smooth-scroll.min.js" | prepend: site.baseurl }}" charset="utf-8"></script>
    <script type="text/javascript">
      smoothScroll.init({
        speed: 500, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        offset: 20, // Integer. How far to offset the scrolling anchor location in pixels
      });

      // JavaScript 代码来处理页面切换时的音频播放逻辑
      document.addEventListener('visibilitychange', function() {
        var audio = document.getElementById('background-audio');
        if (document.hidden) {
          // 页面失去焦点时暂停音频
          audio.pause();
        } else {
          // 页面获得焦点时继续播放音频
          audio.play();
        }
      });
    </script>
    <!-- <script src="{{ "/js/scroll.min.js" | prepend: site.baseurl }}" charset="utf-8"></script> -->
</body>
</html>